# Q1 Cutlets.csv

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [2]:
data=pd.read_csv('Cutlets.csv')
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
unitA=pd.Series(data.iloc[:,0])
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [4]:
unitB=pd.Series(data.iloc[:,1])
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [5]:
# 2-sample 2-tail ttest:   stats.ttest_ind(array1,array2)     # ind -> independent samples
p_value=stats.ttest_ind(unitA,unitB)
p_value

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [14]:
p=p_value[1]

In [15]:
p

0.4722394724599501

In [7]:
# compare p_value with Î± = 0.05 (At 5% significance level)

In [8]:
# H0 = There is no significant difference in the diameter of the cutlet b/w 2 units
# H1 = There is a significant difference in the diameter of the cutlet b/w 2 units

In [16]:
if p<0.05:
    print("H0 is rejected, H1 is accepted")
else:
    print("H1 is rejected, H0 is accepted")

H1 is rejected, H0 is accepted

In [17]:
# Since H0 is accepted, we can conclude that there is no significant difference in the diameter of the cutlet b/w 2 units

# Q2 LabTAT.csv

In [18]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [20]:
df=pd.read_csv('LabTAT.csv')
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [23]:
# Anova ftest statistics: stats.f_oneway(column-1,column-2,column-3,column-4)
pval=stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])
pval

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [27]:
p1=pval[1]  # compare it with Î± = 0.05
p1

2.1156708949992414e-57

In [25]:
# H0 = There is no difference in average TAT among the different laboratories
# H1 = There is a difference in average TAT among the different laboratories

In [28]:
if p1<0.05:
    print("H0 is rejected, H1 is accepted")
else:
    print("H1 is rejected, H0 is accepted")

H0 is rejected, H1 is accepted

In [32]:
#Since H1 is accpeted, we can conclude that there is a difference in average TAT among the different laboratories at 5% SL

# Q3 BuyerRatio.csv

In [35]:
df2 = pd.read_csv('BuyerRatio.csv')

In [36]:
from scipy import stats as stats
import numpy as np

In [37]:
df2.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [38]:
df_table=df2.iloc[:,1:6]
df_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [40]:
val=stats.chi2_contingency(df_table)
val

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [41]:
no_of_rows=len(df_table.iloc[0:2,0])
no_of_columns=len(df_table.iloc[0,0:4])
degree_of_f=(no_of_rows-1)*(no_of_columns-1)
print('Degree of Freedom=',degree_of_f)

Degree of Freedom= 3

In [42]:
Expected_value=val[3]
Expected_value

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [46]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2/e for o,e in zip(df_table.values,Expected_value)])
chi_square

array([1.34226039e+00, 1.73035255e-01, 1.15612650e-04, 8.05342809e-02])

In [47]:
chi_square_statistic=chi_square[0]+chi_square[1]
chi_square_statistic

1.5152956451130446

In [48]:
cv=chi2.ppf(0.95,3) #Calculate critical value
cv

7.814727903251179

In [50]:
if chi_square_statistic >= cv:
	print('H0 is rejected, H1 is accepted')
else:
	print('H1 is rejected, H0 is accepted')

H1 is rejected, H0 is accepted

In [51]:
pv1=1-chi2.cdf(chi_square_statestic,3) # Calculate p value 
pv1

0.6787446296467897

In [52]:
if pv1 <= 0.05:
	print('H0 is rejected, H1 is accepted')
else:
	print('H1 is rejected, H0 is accepted')

H1 is rejected, H0 is accepted

In [53]:
# Since H0 is accepted, we can conclude that all proportions are equal i.e. male-female buyer ratios are similar across regions

# Q4 CustomerOrderForm.csv

In [55]:
df3=pd.read_csv('Costomer+OrderForm.csv')
df3.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [56]:
df3.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [57]:
df3.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [58]:
df3.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [59]:
# Make a contingency table
obs=np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [61]:
from scipy.stats import chi2_contingency

In [63]:
# Chi2 contengency independence test
A = chi2_contingency(obs) # o/p is (Chi2 stats value, p_value, df, expected obsvations)

In [64]:
A

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [67]:
pv2=A[1]

In [68]:
pv2

0.2771020991233135

In [69]:
# H0 = Customer order forms defective % does not vary by centre
# H1 = Customer order forms defective % varies by centre

In [70]:
if pv2<0.05:
    print("H0 is rejected, H1 is accepted")
else:
    print("H1 is rejected, H0 is accepted")

H1 is rejected, H0 is accepted

In [71]:
# Since H1 is rejected and H0 is accepted, we can conclude that the customer order forms defective % does not vary by centre